.main-page {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 140px 1fr 50px;
    justify-content: center;

    &__header {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        &-btn {
            margin-top: 20px;
            height: 54px;
            background-color: #474955;
            display: grid;
            grid-template-columns: 100px 1fr 1fr;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        width: auto;
        height: 40px;
    }

    &__footer {
        width: 90vw;
        height: 40px;
        display: grid;
        grid-template-columns: 0.3fr 1fr 0.3fr;
    }
}

span {
    overflow-x: hidden;
    border-left: 1px solid #474955;
    padding: 3px;
}
header {
    background: #474955;
    height: 50px;
}
@media (max-width: 700px) {
    .main-page {
        span {
            font-size: 12px;
        }
    }
}
